<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
  </div>
  <div class="mdl-card__supporting-text">
    <div class="not-found">
      <h2 class="mdl-card__title-text">Ausências</h2>

      <ul class="mdl-list">
      </ul>
    </div>

    <div class="not-class">
      Abra uma lista de presenças.
    </div>

    <div class="all-present">
      Nenhum aluno ausente.
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="btn-notify mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Notificar
    </button>
  </div>
</div>