.chrome-ext-inspector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999999;
}

.chrome-ext-inspector .mdl-card {
  width: 260px;
}

.chrome-ext-inspector .mdl-card > .mdl-card__title {
  text-shadow: 0 0 5px rgba(0, 0, 0, .8);
  color: #fff;
  height: 120px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/undraw_teacher_35j2.svg') center / contain no-repeat;
  margin: 0 0 .5rem;
}

.chrome-ext-inspector .btn-notify {
  width: 100%;
  color: #fff;
  background-color: #009688;
}

.chrome-ext-inspector .mdl-list {
  padding: 0;
  margin: 0;
}

.chrome-ext-inspector .mdl-list__item {
  padding: .5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.chrome-ext-inspector .mdl-list__item.skipping {
  color: #009688;
}

.chrome-ext-inspector .mdl-list__item:last-child {
  border-bottom: none;
}

.chrome-ext-inspector .mdl-list__item-avatar {
  min-width: 60px;
  min-height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
